<%= form_with model: @post do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div>
      <%= form.submit %>
    </div>
    
    <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <% end %>